{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}Submissions for LWIMW {{ contest.number }}{% endblock %}

{% block body_class %}submissions_list{% endblock %}

{% block content %}
<div class="post">
    <h2>Look What I Made Weekend {{ contest.number }}</h2>
    {% with current_state=contest.state %}
        {% if current_state == 'judging' %}
            <p>Voting is now <strong>open</strong>.</p>
            {% if can_vote %} 
                <p>You are eligible to rate others' submissions because you have also submitted.</p>
            {% else %}
                <p>You are not eligible to rate others' submissions because you have not submitted.</p>
            {% endif %}
        {% elif current_state == 'after' %}
            <h3>Results</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Creator</th>
                        <th>Innovation</th>
                        <th>Refinement</th>
                        <th>Artistry</th>
                        <th>Overall</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in contest.get_results %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ submission.user.username }}
                        </td>
                        <td>{{ submission.avg_innovation|floatformat:"2" }}</td>
                        <td>{{ submission.avg_refinement|floatformat:"2" }}</td>
                        <td>{{ submission.avg_artistry|floatformat:"2" }}</td>
                        <td>{{ submission.avg_overall|floatformat:"2" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% comment %}
            {% for category_results in contest.get_results %}
                <h4>{{ category_results.category.name }}</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Rating</th>
                            <th>Creator</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for standing in category_results %}
                        <tr>
                            <td>{{ standing.rating }}</td>
                            <td>
                                <a href="{% url 'submission_detail' contest.number standing.submission.user.id %}">
                                    {{ standing.submission.user.username }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
            {% endcomment %}
        {% endif %}
    {% endwith %}

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Category</th>
                <th># Ratings</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in contest.submissions.all %}
            <tr>
                <td><a href="{% url 'submission_detail' contest.number submission.user.id %}">{{ submission.title }}</a></td>
                <td><a href="{% url 'profile' submission.user.id %}">{{ submission.user }}</a></td>
                <td>{{ submission.category }}</td>
                <td>{{ submission.ratings.count }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}



