{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Look What I Made Weekend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Look What I Made Weekend: Make Something, Show People, Be Awesome!">
    <link rel="author" href="{{ STATIC_URL }}humans.txt" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <!--<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>-->

    {% block head %}{% endblock %}

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}countdown/jquery.countdown.css" rel="stylesheet" media="screen">
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" />
    <script src="{{ STATIC_URL }}less-1.7.3.min.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">

{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container outerwrap">

    <div class="container innerwrap">
        <div class="jumbotron header">
            <h1><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/banner.png" alt="Look What I Made Weekend" id="banner" /></a></h1>
        </div>

        {% include "contest_banner.html" %}

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-header-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Posts</a></li>
                    <li><a href="{% url 'guidelines' %}">Guidelines</a></li>
                    <li><a target="_blank" href="http://www.reddit.com/r/lwimw" title="LWIMW Subreddit">LWIMW Subreddit</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Hello {% if user.is_authenticated %} {{ request.user.username }} {% else %} Creator {% endif %}</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'post_create' %}">Write a Blog Post</a></li>
                        <li><a href="{% url 'profile' request.user.id %}">Your Profile</a></li>
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Create Account</a></li>
                        <li><a href="{% url 'auth_login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LWIMW" data-widget-id="391998538340503552">Tweets by @LWIMW</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>

                    <!-- Have this be generated and be able to put your stream in your profile -->
                    <div class="widget">
                        <iframe src="http://jordanfitz.com/lwimw/" id="streams" class="embed-responsive-item"></iframe>
                    </div>


                    <h3>Past Results</h3>

                    <ul>
                        {% for contest in request.contests|slice:"1:" %}
                            <li><a href="{% url 'contest_detail' contest.number %}">LWIMW {{ contest.number }}: {{ contest.theme }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="container footer">
        Look What I Made Weekend - A Less Boring Production by <a href="http://twitch.tv/dvcolgan" title="David Colgan">David Colgan</a>. With help from <a href="http://tinfoilboy.com" title="Tinfoilboy">Tinfoilboy</a>.
    </div>
    <!-- Enlarge Image Modal -->
    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="imageModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <br />
                    <br />
                    <img src="#" alt="Enlarged Image" class="img-fill">
                    <br />
                    <br />
                    <a href="#" class="btn btn-lg btn-success" title="Image Permalink" id="permalink">Image Permalink</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Deletion Are You Sure Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <span class="name"></span>? It will be gone forever.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delete-confirm">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ STATIC_URL }}jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}countdown/jquery.countdown.js"></script>
<script src="{{ STATIC_URL }}all-pages.js"></script>
{% block foot %}{% endblock %}
</body>
</html>
