{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Look What I Made Weekend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Look What I Made Weekend: Make Something, Show People, Be Awesome!">
    <meta name="author" content="David Colgan">

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
    <!--<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>-->

    {% block head %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
</head>
<body class="{% block body_class %}{% endblock %}">

{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


    <div class="container outerwrap">

        <div class="container innerwrap">
            <div class="jumbotron header">
                <h1><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/banner.png" alt="Look What I Made Weekend" /></a></h1>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse navbar-header-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'guidelines' %}">Guidelines</a></li>
                        <li><a href="{% url 'irc' %}">IRC</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' request.user.id %}">{{ request.user.username|capfirst }}'s Profile</a></li>
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'registration_register' %}">Create Account</a></li>
                        <li><a href="{% url 'auth_login' %}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
            <div class="row">
                <div class="col-sm-8">
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar">
                        <div class="widget">
                            {% if request.user.is_authenticated %}
                            <h4>Look What I Made Weekend {{ current_contest.number }}</h4>
                            <a class="btn btn-success btn-lg btn-block" href="{% url 'submission' current_contest.number request.user.id %}">Edit Your Submission</a>
                            <a class="btn btn-primary btn-lg btn-block" href="{% url 'submissions_list' current_contest.number %}">View All Submissions</a>
                            {% endif %}
                        </div>

                        <div class="widget">
                            <form action=""
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate clearfix" target="_blank" novalidate>
                                <h4>Want to receive updates on the next LWIMW?</h4>

                                <div class="input-group">
                                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email address" required />
                                    <span class="input-group-btn">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" />
                                    </span>
                                </div>
                            </form>
                        </div>

                        <div class="widget">
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LWIMW" data-widget-id="391998538340503552">Tweets by @LWIMW</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container footer">
            Look What I Made Weekend - A Less Boring Production by David Colgan
        </div>
    </div>

    <script src='{{ STATIC_URL }}js/jquery.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/all-pages.js"></script>
    {% block foot %}{% endblock %}
</body>
</html>
