<div class="current-contest-banner">
    {% if request.current_contest %}
        {% comment %}
        <h2 style="font-family: 'Comic Sans MS'"><marquee><abbr title="LETS MARQUEE LIKE ITS 1995!">
            Look What I Made Weekend
            {{ request.current_contest.number }}!
            Theme:
            {{ request.current_contest.theme }}
        </abbr></marquee></h2>
        {% endcomment %}
        <h4 class="pull-right">
            Theme:
            {{ request.current_contest.theme }}
        </h4>
        <h2>
            Look What I Made Weekend
            {{ request.current_contest.number }}!
        </h2>

        <div class="row">
            <div class="col-md-4">
                <h4>See what others are making:</h4>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'contest_detail' request.current_contest.number %}">
                    {% if request.current_contest.state == 'judging' and request.current_contest.can_vote %}
                        Rate Submissions
                    {% else %}
                        View Submissions
                    {% endif %}
                </a>
            </div>
            <div class="col-md-4">
                {% if request.current_contest.state == 'before' %}
                    <h4>Contest Starts In:</h4>
                {% elif request.current_contest.state == 'during' %}
                    <h4>Contest Ends In:</h4>
                {% elif request.current_contest.state == 'submitting' %}
                    <h4>Submission Ends In:</h4>
                {% elif request.current_contest.state == 'judging' %}
                    <h4>Judging Ends In:</h4>
                {% elif request.current_contest.state == 'after' %}
                    <h4>Contest is Closed</h4>
                {% endif %}
                <div id="countdown-timer" class="clearfix mbs" style="border-radius: 4px"
                    data-state="{{ request.current_contest.state }}"
                    data-start="{{ request.current_contest.start.isoformat }}"
                    data-end="{{ request.current_contest.end_time.isoformat }}"
                    data-submission="{{ request.current_contest.submission_time.isoformat }}"
                    data-judging="{{ request.current_contest.judging_time.isoformat }}">
                </div>
            </div>
            <div class="col-md-4">
                {% if request.user.is_authenticated %}
                    <h4>Tell us about your creation</h4>
                    <div class="btn-toolbar">
                        {% if request.current_contest.state == 'during' or request.current_contest.state == 'submitting' %}
                            <a class="btn btn-success btn-lg" href="{% url 'submission_edit' request.current_contest.number %}">Edit My Entry</a>
                        {% else %}
                            <a class="btn btn-success btn-lg" href="{% url 'submission_detail' request.current_contest.number request.user.id %}">View My Entry</a>
                        {% endif %}
                        <a class="btn btn-warning btn-lg" href="{% url 'post_create' %}">Write A Post</a>
                    </div>
                {% else %}
                    <h4>Join Look What I Made Weekend:</h4>
                    <div class="btn-toolbar">
                        <a class="btn btn-success btn-lg" href="{% url 'registration_register' %}">Create Account</a>
                        <a class="btn btn-primary btn-lg" href="{% url 'auth_login' %}">Log In</a>
                    </div>
                {% endif %}
            </div>
        </div>

    {% else %}
        <h2>There are not yet any contests!</h2>
    {% endif %}
</div>
