{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}Guidelines{% endblock %}

{% block body_class %}guidelines{% endblock %}

{% block content %}

<h2>Preamble</h2>

<p>Welcome to &#8220;Look What I Made Weekend&#8221; – where creative and motivated people make something and share the results with each other.</p>

<p>It’s pretty simple: you have approximately 48 hours to &#8220;make something&#8221; over the course of a weekend. To make it time-effective, we recommend you make something small and manageable – i.e. don’t create an entire art exhibit – make one piece instead.</p>

<p>What can you make? Pretty much whatever you want – a video game, web site, painting, short film, short screenplay, drawing, sculpture, poem.  You can start a new project or continue an existing one as long as you finish some version of it (it won’t be perfect – that’s not the point) by the end of the weekend.</p>

<p>Using this blog, you can post (or share a link or a photo) of what you made, and we all get to enjoy the awesomeness of your creative output!</p>

<h2>Guidelines</h2>

<p><strong>You can either start a new project or continue an already started one.  Please only submit finished projects.  </strong>The idea is to choose a project scope that is finishable in the weekend.  Of course, what &#8220;finished&#8221; means is up to you.</p>

<p><strong>Any form of creative expression is allowed.</strong>  LWIMW was inspired by the <a href="http://ludumdare.com/compo" target="_blank">Ludum Dare</a> video game making contest, but you can also draw a painting, write a screenplay or short story, bake cookies, compose a song, knit a scarf, fold some origami, make a Flash cartoon, or anything else you can think of!</p>

<p><strong>You are encouraged to write blog posts throughout the weekend to share your work with the rest of us.</strong>  Write a post right when you start, explaining what you hope to accomplish and the tools you are going to use.  The more you show the more encouragement you can get from the rest of us.</p>

<p><strong>Categorize your updates as Weekend X Blog (where X is the weekend number) and they will show up on the front page.</strong>  Posts from past LWIMWs will still be accessible via searching and the category menu on the sidebar, but will not show up on the front page to keep things organized.</p>

<p><b>Write a final post and categorize it Weekend X Submission when you finish!</b>  Entries categorized in this way will show up in the right sidebar as a submission.</p>

<p><strong>Most importantly, HAVE FUN.</strong>  Making things is awesome, and you are awesome for participating!</p>
{% endblock %}
