{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}Guidelines{% endblock %}

{% block body_class %}guidelines{% endblock %}

{% block content %}

<h2>Preamble</h2>

<p>Welcome to &#8220;Look What I Made Weekend&#8221; – where creative and motivated people make something and share the results with each other.</p>

<p>It’s pretty simple: you have approximately 48 hours to make something over the course of a weekend. To make it time-effective, we recommend you make something small and manageable – i.e. don’t create an entire art exhibit – make one piece instead.</p>

<p>What can you make? Pretty much whatever you want – a video game, web site, painting, short film, short screenplay, drawing, sculpture, poem, or anything else creative.  You can start a new project or continue an existing one as long as you finish some version of it (it won’t be perfect – that’s not the point) by the end of the weekend.</p>


<h2>Guidelines</h2>

<p>In an effort to make the contest more widely accessable, you can now do your work at any time during each month.  Simply create your work during a period of 48 hours and then make a sumbission.</p>

<p><strong>You can either start a new project or continue an already started one.  Please only submit finished projects.  </strong>The idea is to choose a project scope that is finishable in the weekend.  Of course, what &#8220;finished&#8221; means is up to you.</p>

<p><strong>Any form of creative expression is allowed.</strong>  LWIMW was inspired by the <a href="http://ludumdare.com/compo" target="_blank">Ludum Dare</a> video game making contest, but you can also draw a painting, write a screenplay or short story, bake cookies, compose a song, knit a scarf, fold some origami, make a Flash cartoon, or anything else you can think of!</p>

<p><strong>You are encouraged to write blog posts throughout the weekend to share your work with the rest of us.</strong>  Write a post right when you start, explaining what you hope to accomplish and the tools you are going to use.  The more you show the more encouragement you can get from the rest of us.  Posts will show up on the home page.</p>

<p>When you are done, submit your entry using widget on the sidebar.  Write up a short summary stating where you started from (any source code libraries you used, initial work already done, etc.) and explain what you did.  You can submit links to webpages and upload images.</p>

<p>After the month is over, there will be a month of judging, where anyone who entered the contest can give constructive criticism and rate everyone elses' submissions.  If you want, you can opt out of the ratings by unchecking the checkbox on your submission.</p>

<p>An optional theme will be announced at the beginning of the month to help get the creative juices flowing.  If you choose not to use the theme, uncheck the checkbox on your submission and people will not be able to rate you based on your usage of the theme.</p>

<p><strong>Most importantly, HAVE FUN.</strong>  Making things is awesome, and you are awesome for participating!</p>
{% endblock %}
