{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load bootstrap %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
{% if post_list %}
    {% for post in post_list %}
    <div class="post">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>By <a href="{% url 'profile' post.author.id %}" title="{{ post.author }}">{{ post.author }}</a> on {{ post.creation_date|naturaltime }}&nbsp;&nbsp;<span><a href="{% url 'post_detail' post.pk %}#comments" title="View Comments"><i class="glyphicon glyphicon-comment"></i> View {{ post.comments.count }} Comments</a></span></p>
        {{ post.body|markdown }}
        {% if post.image %}<img src="{{ post.image.url }}" />{% endif %}
    </div>
    <hr/>
    {% endfor %}
{% else %}
    <h3>There are no posts found.</h3>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}


