{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load bootstrap %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
{% if posts %}
    {% for post in posts %}
    <div class="post">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>By <a href="/profile/{{ post.author.id }}/" title="{{ post.author }}">{{ post.author }}</a> on {{ post.creation_date|naturaltime }}&nbsp;&nbsp;<span><a href="{% url 'post_detail' post.pk %}#comments" title="View Comments"><i class="glyphicon glyphicon-comment"></i> View Comments</a></span></p>
        {{ post.body|markdown }}
        {% if post.image %}<img src="{{ post.image.url }}" />{% endif %}
    </div>
    <hr/>
    {% endfor %}
{% else %}
    <h3>There are no posts found.</h3>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}


