{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}Your Profile{% endblock %}

{% block body_class %}profile{% endblock %}

{% block content %}
<div class="post">
    <h2>{{ user.username|capfirst }}'s Profile</h2>
    <h3>Past Entries</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Weekend</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <td><a href="{% url 'submission' submission.contest.number submission.user.id %}">{{ submission.title }}</a></td>
                <td>{{ submission.category }}</td>
                <td>{{ submission.contest.number }}</td>
            </tr>
            {% endfor %}
    </table>
    <h3>Blog Posts</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Weekend</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_edit' post.id %}">{{ post.title }}</a></td>
                <td>{{ post.contest.number }}</td>
            </tr>
            {% endfor %}
    </table>
    {% if user_id != request.user.id %}
    <a class="btn btn-warning btn-lg" href="{% url 'post_create' %}">Write a Blog Post for LWIMW {{ current_contest.number }}</a>
    {% endif %}
</div>
{% endblock %}



