{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load humanize %}

{% block title %}{{ object.username|title }}'s Profile{% endblock %}

{% block body_class %}profile{% endblock %}

{% block content %}
<div class="post">
    <h2>{{ object.username|capfirst }}'s profile</h2>

    {% if submissions %}
        <h3>Submissions</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Weekend</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                <tr>
                    <td><a href="{% url 'submission_detail' submission.contest.number submission.user.id %}">{{ submission.title }}</a></td>
                    <td>{{ submission.category }}</td>
                    <td>{{ submission.contest.number }}</td>
                </tr>
                {% endfor %}
        </table>
    {% endif %}

    <h3>Blog Posts</h3>
    {% if object.pk == request.user.id %}
        <a class="btn btn-warning btn-lg" href="{% url 'post_create' %}">Write a Blog Post for LWIMW {{ current_contest.number }}</a>
    {% endif %}

    {% if posts %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Weekend</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
                    <td>{{ post.contest.number }}</td>
                    {% if post.author.pk == request.user.pk %}
                        <td><a href="#delete" title="Delete" class="delete" data-object-id="{{ post.id }}" data-object-name="{{ post.title }}" data-object-url="/posts/delete/"><i class="glyphicon glyphicon-trash"></i> Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>No blog posts yet.</p>
    {% endif %}

    <h3>Comments</h3>
    {% if comments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td><a href="{% url 'post_detail' comment.posts.get.id %}#comment{{comment.id}}">{{ comment.posts.get.title }}</a></td>
                    <td>{{ comment.creation_date|naturaltime }}</td>
                </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
</div>
{% endblock %}
