{% extends "base.html" %}
{% load custom_tags %}
{% load bootstrap %}

{% block title %}{{ submission.user.username }}'s entry for LWIMW {{ contest.number }}{% endblock %}

{% block body_class %}submission_detail{% endblock %}
 
{% block content %}
<div class="post">
    {% if user_id == request.user.id and current_contest_state == 'during' or current_contest_state == 'submitting' %}
    <a href="{% url 'submission_edit' contest.number %}" class="pull-right btn btn-lg btn-primary">Edit</a>
    {% endif %}
    <h2>{{ submission.title }}</h2>
    <h3>{{ submission.user.username }} &mdash; {{ submission.category }}</h3>

    {{ submission.comments|markdown }}

    <h3>Links to {{ submission.user.username }}'s Submission:</h3>
    {% if submission.link_1 %}<p><a target="_blank" rel="nofollow" href="{{ submission.link_1 }}">{{ submission.link_1 }}</a></p>{% endif %}
    {% if submission.link_2 %}<p><a target="_blank" rel="nofollow" href="{{ submission.link_2 }}">{{ submission.link_2 }}</a></p>{% endif %}
    {% if submission.link_3 %}<p><a target="_blank" rel="nofollow" href="{{ submission.link_3 }}">{{ submission.link_3 }}</a></p>{% endif %}

    <p>{% if submission.image_1 %}<img src="{{ submission.image_1.url }}" />{% endif %}</p>
    <p>{% if submission.image_2 %}<img src="{{ submission.image_2.url }}" />{% endif %}</p>
    <p>{% if submission.image_3 %}<img src="{{ submission.image_3.url }}" />{% endif %}</p>

    {% if can_vote %}
        {% if submission.receive_ratings %}
            <h3>How would you rate {{ submission.user.username|capfirst }}'s submission?</h3>
            <form method="POST">{% csrf_token %}
                {{ rating_form|bootstrap }}
                <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
            </form>
        {% else %}
            <h3><em>{{ submission.user.username|capfirst }}'s submission is not open to ratings.</em></h3>
        {% endif %}
    {% else %}
        {% if submission.id != your_submission.id %}
        <h3><em>Create a submission to rate others' submissions.</em></h3>
        {% endif %}
    {% endif %}

    <h3>Reviewer Comments</h3>
    {% for rating in submission.ratings.all %}
    <blockquote class="blockquote-reverse">
        {{ rating.comments|markdown }}
        <footer><a href="{% url 'profile' rating.rater.pk %}">&mdash;{{ rating.rater }}</a></footer>
    </blockquote>
    {% endfor %}
</div>
{% endblock %}
